.wrapper {
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  a {
    text-decoration: none;
  }

  span {
    display: inline-block;
    margin: 0;
  }

  .teamImg {
    width: 200px;
  }

  .normal {
    font-size: 1rem;
    color: white;
  }

  .stronger {
    display: inline-block;
    font-size: large;
  }

  .color {
    color: #009900;
  }
}
