.wrapper {
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    margin-bottom: 10%;
  }
  p {
    margin: 0;
  }
  .header {
    color: #FF5126;
  }
  .stronger {
    color: #ff5126;
  }
  .imagineImg {
    width: 200px;
  }
  .myBrand {
    color: #446ff2;
    font-weight: bolder;
  }
}
