.wrapper {
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .workRoom {
    font-size: x-large;
    // color: rgb(255, 81, 38);
  }
  .text {
    display: inline-block;
  }
  .teamWorkImg {
    width: 200px;
  }
}
