.wrapper {
  margin-top: 65px;
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mainImg {
    width: 200px;
  }
}

.justifyCenter {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.roleBox {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}
