.wrapper {
  p {
    margin: 0;
    display: inline-block;
  }
  .header {
    color: #446ff2;
  }
  .imagineImg {
    width: 200px;
  }
  .myBrand {
    font-size: larger;
    color: #446ff2;
    font-weight: bolder;
  }
  .todo {
    font-size: large;
  }
}
