.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: rgb(40, 40, 40);
  color: white;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: rgb(40, 40, 40);

    .logo {
      width: 60px;
      position: inherit;
    }
  }

  .upButton {
    position: fixed;
    color: white;
    z-index: 999;
    right: 30px;
    bottom: 30px;
  }
}
